	<div class="feed-header">
		<h2>View friends who have posted in your time-line</h2>
	</div>

<div class="container-login">

	<div class="row">
		<h2 style="text-align: center">Login</h2>

		<div class="row">
			<button ng-click="loginWithFaceBook()" class="fb btn">
				<i class="fa fa-facebook fa-fw"></i> Login with Facebook
			</button>
		</div>

		<div class="row">
			<div class="hide-md-lg">
				<p>Or sign in manually:</p>
			</div>

			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password"
				required> <input type="submit" value="Login">
		</div>
	</div>
</div>
